body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}
#fundo-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

main {
    margin: 2%;
}

#icon {
    border-radius: 50%;
}