@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background: radial-gradient(circle at center, #10402b, #000000);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.52); 
  z-index: 1;
  pointer-events: none;
}

.login-form {
  position: relative;
  z-index: 2;

  width: 330px;
  padding: 40px 35px;



  display: flex;
  flex-direction: column;
  gap: 25px;

  animation: aparecer 0.8s ease-out;
}

.login__header h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #17b772;
  text-shadow: 0 0 12px #00ca8a, 0 0 20px #1fc4b0;
}

.login__header img {
  display: block;
  margin: 0 auto 15px;
  width: 250px;
  height: 300px;
}

.login__header img:hover {
  transform: scale(1.10);
  transition: transform 0.5s ease;
}

.login__input {
  width: 100%;
  padding: 13px 15px;

  border-radius: 10px;
  border: 2px solid #00af78;

  background: rgba(0, 0, 0, 0.4);
  color: #84e0c3;

  font-size: 16px;
  outline: none;

  transition: border 0.3s, box-shadow 0.3s;
}

.login__input::placeholder {
  color: #84e0c3;
}

.login__input:focus {
  border: 2px solid #8affda;
  box-shadow: 0 0 10px #00af78;
}

.login__button {
  padding: 12px;
  width: 100%;

  border-radius: 10px;
  border: none;
  cursor: pointer;

  font-size: 18px;
  font-weight: 600;
  color: #84e0c3;

  background: linear-gradient(90deg, #1d734e, #10402b);
  box-shadow: 0 0 18px #00ca8a;
  transition: transform 0.2s, box-shadow 0.2s;
}

.login__button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ca8a;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.input-error {
  color:#17b772; 
  font-size:0.95em; 
  margin-top:6px; 
  display:none;
}